# virtual env
/venv

# virtual env
/csv/geocoding_temp

# Python cache
__pycache__
*/__pycache__

# vs code
.vscode
# Temp stats generated qsv
ictst/data/tools.stats.csv
ictst/data/tools.stats.csv.json
